version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: polr
    ports:
    - "3308:3306/tcp"
    volumes:
    - mysql:/var/lib/mysql
    container_name: polr_db
  web:
    build:
      context: ../
      dockerfile: deploy/Dockerfile
      args:
        APP_ENV: "local"
        APP_DOMAIN: "fbk.st.test"
        USER_ID: ${USER_ID} # change to your user id if different. How to check UID : execute on host machine `id -u ${whoami}`
    environment:
      APP_ENV: "local"
      APP_DEBUG: "true"
      APP_KEY: ""
      APP_DOMAIN: "fbk.st.test"
      DB_HOST: "db"
      DB_PORT: "3306"
      DB_DATABASE : "polr"
      DB_USERNAME: "root"
      DB_PASSWORD: "root"
      CACHE_DRIVER: "file"
      SESSION_DRIVER: "file"
      QUEUE_DRIVER: "database"
      BUGSNAG_API_KEY: ""
      POLR_ALLOW_ACCT_CREATION: "yes"
    ports:
    - "8000:8000/tcp"
    volumes:
    - ../:/var/www/html
    links:
    - db
    depends_on:
    - db
    restart: on-failure:5
    container_name: polr_web
volumes:
  mysql: